.tag {
  display: inline-flex;
  align-items: center;
  padding: var(--size-1) var(--size-3);
  border-radius: var(--radius-round);
  background: var(--accent-soft);
  color: var(--text-1);
  font-size: var(--font-size-0);
  letter-spacing: var(--font-letterspacing-3);
  text-transform: uppercase;
}
