.item-header {
  display: grid;
  gap: var(--size-2);
  grid-template-areas:
    "icon title checks"
    "meta meta checks";
  grid-template-columns: min-content auto min-content;
  grid-template-rows: auto auto;
  align-items: start;

  .icon,
  .tier {
    grid-area: icon;
    align-self: center;
  }

  .title {
    grid-area: title;
  }

  .checks {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-2);
    grid-area: checks;
    justify-self: end;
  }

  .meta {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-2);
    grid-area: meta;
    align-items: center;
  }
}
