.recipe {
  display: grid;
  gap: var(--size-2);

  .recipe__station {
    color: var(--text-2);
    font-size: var(--font-size-1);
  }

  .recipe__ingredients {
    display: grid;
    gap: var(--size-2);
    padding: 0;
    list-style: none;
  }

  .recipe__ingredient {
    display: flex;
    justify-content: space-between;
    gap: var(--size-3);
    padding: var(--size-2) var(--size-3);
    border-radius: var(--radius-3);
    background: var(--accent-softer);
    color: var(--text-2);
  }
}
