.list {
  display: grid;
  gap: var(--size-4);
  grid-template-columns: repeat(var(--columns, 1), 1fr);
  list-style: none;
  padding: 0;

  .list__item {
    &:has(.armor-set-card) {
      grid-column: 1 / -1;
    }
  }
}
