.repair {
  display: grid;
  gap: var(--size-2);

  .repair__list {
    display: grid;
    gap: var(--size-2);
    padding: 0;
    list-style: none;
  }

  .repair__item {
    padding: var(--size-2) var(--size-3);
    border-radius: var(--radius-3);
    background: var(--accent-softer);
    color: var(--text-2);
  }
}
