.tier {
  --tier-bg: var(--gray-6);
  --tier-text: var(--gray-0);

  color: var(--tier-text);
  display: inline-grid;
  line-height: 1;
  place-content: center;
  place-items: center;

  &::before {
    aspect-ratio: 1;
    background: linear-gradient(135deg, color-mix(in srgb, var(--tier-bg) 82%, white), var(--tier-bg));
    block-size: var(--size-5);
    border-radius: var(--radius-2);
    border: var(--border-size-1) solid color-mix(in srgb, var(--tier-bg) 70%, white);
    box-shadow: var(--shadow-2);
    content: '';
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    transform: rotate(45deg);
    z-index: var(--layer-1);
  }

  &[data-tier="1"] {
    /* default */
  }

  &[data-tier="2"] {
    --tier-bg: var(--teal-7);
  }

  &[data-tier="3"] {
    --tier-bg: var(--indigo-7);
  }

  &[data-tier="4"] {
    --tier-bg: var(--purple-8);
  }

  &[data-tier="5"] {
    --tier-bg: var(--yellow-5);
  }

  > span {
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-7);
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-shadow:
      -1px -1px 0 color-mix(in srgb, var(--gray-12) 100%, white),
      1px -1px 0 color-mix(in srgb, var(--gray-12) 100%, white),
      -1px  1px 0 color-mix(in srgb, var(--gray-12) 100%, white),
      1px  1px 0 color-mix(in srgb, var(--gray-12) 100%, white);
    z-index: var(--layer-2);
  }
}
