.field-guide-title {
  color: var(--accent-1);
  line-height: var(--font-lineheight-1);

  &:is(h1) {
    font-size: var(--font-size-6);
  }

  &:is(h2) {
    font-size: var(--font-size-5);
  }

  &:is(h3) {
    font-size: var(--font-size-4);
  }

  &:is(h4) {
    font-size: var(--font-size-3);
  }

  &:is(h5) {
    font-size: var(--font-size-2);
  }

  &:is(h6) {
    font-size: var(--font-size-1);
  }
}
