.resource-card {
  .resource-card__collections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: var(--size-3);
  }

  .resource-card__section {
    display: grid;
    gap: var(--size-2);
    padding: var(--size-3);
    border-radius: var(--radius-3);
    background: var(--accent-softer);
  }

  .resource-card__heading {
    color: var(--text-1);
    font-size: var(--font-size-2);
  }

  .resource-card__list {
    padding-inline-start: var(--size-4);
    color: var(--text-2);
  }
}
