.armor-card {
  display: grid;
  gap: var(--size-4);

  .armor-card__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-3);
  }

  .armor-card__stat {
    display: grid;
    gap: var(--size-1);
    padding: var(--size-3);
    border-radius: var(--radius-3);
    background: var(--accent-softer);
  }

  .armor-card__stat-label {
    color: var(--text-muted);
    font-size: var(--font-size-0);
    text-transform: uppercase;
  }

  .armor-card__stat-value,
  .armor-card__text {
    color: var(--text-2);
  }
}
