.recipe-list {
  display: grid;
  gap: var(--size-3);
  padding: 0;
  list-style: none;

  .recipe-list__item {
    display: grid;
    gap: var(--size-3);
    padding: var(--size-4);
    border: var(--border-size-1) solid var(--border-subtle);
    border-radius: var(--radius-3);
    background: var(--accent-softer);
  }

  .recipe-list__title {
    color: var(--text-1);
    font-size: var(--font-size-2);
  }
}
