.accordion {
  display: grid;

  &[open] {
    gap: var(--size-3);
  }

  summary {
    color: var(--accent-1);
    cursor: pointer;
    font-weight: var(--font-weight-6);
    justify-self: start;

    &::marker {
      color: var(--text-muted);
    }
  }

  > .content {
    display: grid;
    gap: var(--size-4);
  }
}
